* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace, neuropol;
}

@font-face {
    font-family: neuropol;
    src: url(../fonts/Neuropol_X.ttf);
}

@font-face {
    font-family: neuropol;
    src: url(../fonts/Neuropol_X_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: neuropol;
    src: url(../fonts/Neuropol_X_Bold_Italic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: neuropol;
    src: url(../fonts/Neuropol_X_Italic.ttf);
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
}

.h1,
h1 {
    font-size: 2.5rem;
}

.h2,
h2 {
    font-size: 2rem;
}

.h3,
h3 {
    font-size: 1.75rem;
}

.h4,
h4 {
    font-size: 1.5rem;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.h6,
h6 {
    font-size: 1rem;
}

body {
    position: relative;
}

.header {
    position: relative;
    top: -80px;
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

.nav {
    background-color: transparent;
    position: sticky;
    width: 100%;
    height: 80px;
    transition: 0.5s;
    z-index: 100;
}

.nav.sticky {
    background-color: black;
    position: sticky;
    top: 0px;
}

.nav .navlogo {
    float: left;
    line-height: 80px;
    width: 80px;
    margin-left: 80px;
}

.nav i {
    float: right;
    color: white;
    line-height: 80px;
    display: none;
    padding: 0 80px;
}

.nav .navlogo img {
    margin: 10px 0;
    float: left;
    position: relative;
}

.nav .navlogo .h1 {
    float: left;
    color: white;
}

.nav ul {
    float: right;
    list-style: none;
    margin-right: 80px;
    display: block;
}

.nav ul li {
    display: inline;
    line-height: 80px;
    padding: 0 25px;
}

.nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.sidenav {
    position: fixed;
    top: 80px;
    left: 0px;
    background-color: black;
    width: 0px;
    height: calc(100vh - 80px);
    transition: width 0.5s;
    overflow-x: hidden;
    z-index: 100;
}

.sidenav ul {
    list-style: none;
    display: block;
}

.sidenav ul li {
    margin: 0 80px;
    line-height: 80px;
}

.sidenav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
}

@media screen and (max-width:1024px) {
    .nav i.show {
        display: block;
    }
    .nav i.hide {
        display: none;
    }
    .nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
    }
    ;
}

.brand {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.logo .h1 {
    font-size: 5rem;
    font-family: neuropol;
}

.logo .h2 {
    font-family: neuropol;
}

hr {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.content {
    margin: 60px;
    background-color: white;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title h2 {
    font-family: neuropol;
    text-transform: uppercase;
    font-size: 4rem;
}

.programcontent {
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    justify-content: center;
}

.programflex {
    margin: 0 20px;
    text-align: center;
    flex-basis: 25%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

@media screen and (max-width:768px) {
    .programcontent {
        flex-direction: column;
    }
    .programflex {
        margin: 20px;
        flex-basis: 100%;
    }
}

.footer {
    display: flex;
    background-color: black;
    height: 200px;
}